# dependencies
/node_modules

# cypress
cypress/videos
cypress/screenshots
cypress/reports
cypress.env.json

# logs
cypress/logs

# misc
yarn-debug.log*
yarn-error.log*

# package-lock
package-lock.json

# allure-reports
cypress/allure
